<launch>	
	<!--<include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch"></include>-->
	<!--<include file="$(find dojo_robot_new)/launch/robot_remote.launch"></include>-->
	
	<!-- hector -->
	<include file="$(find hector_mapping)/launch/mapping_default.launch"></include>
	<!--<include file="$(find hector_exploration_node)/launch/exploration_planner.launch"></include>-->

	<!-- move base -->
	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
		<rosparam file="$(find dojo_robot_new)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
		<rosparam file="$(find dojo_robot_new)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    		<rosparam file="$(find dojo_robot_new)/config/local_costmap_params.yaml" command="load" />
    		<rosparam file="$(find dojo_robot_new)/config/global_costmap_params.yaml" command="load" />
    		<rosparam file="$(find dojo_robot_new)/config/move_base_params.yaml" command="load" />
    		<rosparam file="$(find dojo_robot_new)/config/dwa_local_planner_params.yaml" command="load" />
    		<rosparam file="$(find dojo_robot_new)/config/base_local_planner_params.yaml" command="load"/>
  	</node>

	
	<!-- rviz -->
	<node pkg="rviz" type="rviz" name="dojo_rviz" required="true" args="-d $(find dojo_robot_new)/config/dojo.rviz"/>
</launch>
