<launch>
	<arg name="map_file" default="$(find dojo_robot_new)/maps/circuit_map.yaml"/>

	<include file="$(find mapping-environment)/launch/GazeboCircuitTurtlebotLidar_v0.launch"></include>
        <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch"></include>

	<node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

	<include file="$(find dojo_robot_new)/launch/amcl.launch">
		<arg name="initial_pose_x" value="0.0"/>
		<arg name="initial_pose_y" value="0.0"/>
		<arg name="initial_pose_a" value="0.0"/>
	</include>

	<include file="$(find dojo_robot_new)/launch/geotiff_mapper_path_planning.launch">
		<arg name="map_file_path" value="/home/yoksanherlie/catkin_ws/src/dojo-robot/maps/test"/>
	</include>

	<node pkg="rviz" type="rviz" name="dojo_rviz" required="true" args="-d $(find dojo_robot_new)/config/dojo.rviz"/>

</launch>
